* {
    margin: 0;
    padding: 0;
}

.product {
    width: 100%;
    min-height: 100vh;
    background-color: brown;
    padding-left: 10px;
    padding-right: 10px;
}

.testing {
    display: flex;
    background-color: blue;
    align-items: center;
}
